body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 15px;
   background-color: #cacaca;
}

.container {
   max-width: 1000px;
   margin: auto;
   padding: 15px;
   border-radius: 8px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   background-image: linear-gradient(to right top, #051937, #0d1940, #191847, #28154d, #380d50);
   position:relative;
}

.header{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;

}
p.informacoes_iniciais{
   max-width: 100%;
   max-height: 100%;
   margin:8px 20px;
   text-align: justify;
   font-size:clamp(1em, 1.1em + .5vw, 24px);
}

.img-ponto{
   width:clamp(60px, 2vw, 200px);
   position:absolute;
   right:0;
   margin-right: 3em;
}

.sect{
   background-color: #dafbff; 
   padding: 10px 15px; 
   margin: 10px;
   border-radius: 5px;
   max-width: 100%;
   max-height: 100%;  
}

h3, h4 {
   color: #07576b;  
   margin-bottom:10px;
   max-width: 100%;
   max-height: 100%;
}

h1 {
   text-align: center;
   color:#fff;
}

h2{
   color:#2b1285;
   max-width: 100%;
   max-height: 100%;
   margin:10px 0;
}
.container-ul{
   margin:0 0 10px;
   padding:0;
   max-width: 100%;
   max-height: 100%;   
   list-style: none;  
}

.container-ol{
   margin:10px 0 0 0;
   padding:0;
   max-width: 100%;
   max-height: 100%;   
}

h4.processo{
   margin:0 0 0 10px;
   padding:5px 0;
   background-color: #cbdfe079;
}

.li-filho{
   margin:5px 0 0 3em;   
   padding:4px;
   max-width: 100%;
   max-height: 100%; 
   word-wrap: break-word; 
   font-size:clamp(1.1em, 1.2em + .5vw, 24px);
}

.link-gest{
color:#b801dd;
display:block;
text-decoration: none;
font-weight: 550;
}

.link-gest:hover{
   color:#045745;
}

footer {
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   background-color: #1f5f6975;
   color: white; 
   text-align: center;
   padding: 10px 0; 
   position: relative; 
   bottom: 0; 
   max-width: 100%;
   max-height: 100%;
   border-radius: 10px;
}

.autor{
   color:#fff;
}

img.pix{
   width: clamp(100px, 5vw, 200px);
}

/* RESPONSIVIDADE */

@media (max-width: 555px) {
   footer {
      display:flex;
      flex-direction: column;
   }
   img.pix{
      width: clamp(80px, 3vw, 200px);
   }
}

.wistia_responsive_padding {
   padding: 56.25% 0 0 0;
   position: relative;
}

.wistia_responsive_wrapper {
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.wistia_embed {
   height: 100%;
   position: relative;
   width: 100%;
}

.wistia_swatch {
   height: 100%;
   left: 0;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   top: 0;
   transition: opacity 200ms;
   width: 100%;
}

.wistia_swatch img {
   filter: blur(5px);
   height: 100%;
   object-fit: contain;
   width: 100%;
}
