body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 15px;
   background-color: #cacaca;
}

.container {
   max-width: 800px;
   margin: auto;
   padding: 15px;
   border-radius: 8px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   background-image: linear-gradient(to right top, #051937, #0d1940, #191847, #28154d, #380d50);
}

.sect{
   background-color: #dafbff; 
   padding: 10px 15px; 
   margin: 10px;
   border-radius: 5px;
   max-width: 100%;
   max-height: 100%;  
}

h3, h4 {
   color: #07576b;  
   margin-bottom:10px;
   max-width: 100%;
   max-height: 100%;
}

h1 {
   text-align: center;
   color:#fff;
}

h2{
   color:#2b1285;
   max-width: 100%;
   max-height: 100%;
   margin:10px 0;
}

h2.texto-objetivo{
   margin-left:10px;
}

p.informacoes_iniciais{
   max-width: 100%;
   max-height: 100%;
   margin:10px 20px;
   text-align: justify;
}

.container-ul{
   margin:0 0 10px;
   padding:0;
   max-width: 100%;
   max-height: 100%;   
   list-style: none;  
}

.container-ol{
   margin:10px 0 0 0;
   padding:0;
   max-width: 100%;
   max-height: 100%;   
}

h4.processo{
   margin:0 0 0 10px;
   padding:5px 0;
   background-color: #cbdfe079;

}

.li-filho{
   margin:5px 0 0 3em;   
   padding:4px;
   max-width: 100%;
   max-height: 100%; 
   word-wrap: break-word;  
}

.link-gest{
color:#b801dd;
display:block;
text-decoration: none;
font-weight: 550;
}
.link-gest:hover{
   color:#045745;
   }

footer {
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   background-color: #1f5f6975;
   color: white; 
   text-align: center;
   padding: 10px 0; 
   position: relative; 
   bottom: 0; 
   max-width: 100%;
   max-height: 100%;
}

.autor{
   color:#fff;
}

img.pix{
   width: clamp(100px, 5vw, 200px);
}

/* RESPONSIVIDADE */

@media (max-width: 555px) {
   footer {
      display:flex;
      flex-direction: column;
   }
   img.pix{
      width: clamp(80px, 3vw, 200px);
   }
}
